#Project Binaries and Intermidiates.
bin/
bin-int/

#Assimp Binaries (but keep the folder)
depedencies/ASSIMP/**
!depedencies/ASSIMP/.gitkeep

#GLFW Binaries (but keep the folder)
depedencies/GLFW/**
!depedencies/GLFW/.gitkeep

#Premake generated makefiles.
GLAD.make
LearnOpenGL.make
Makefile
STB_IMAGE.make

#Visual Studio GLAD project.
.vs/
GLAD.vcxproj
GLAD.vcxproj.filters
GLAD.vcxproj.user

#Visual Studio LearnOpenGL and STB_IMAGE projects and solution.
LearnOpenGL.sln
LearnOpenGL.vcxproj
LearnOpenGL.vcxproj.filters
LearnOpenGL.vcxproj.user
STB_IMAGE.vcxproj